/* Styles specific to about.html page */

.container {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .image-container {
    position: relative;
    margin-top: 50px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .image-container p {
    font-size: 16px;
    margin-top: 10px;
    opacity: 0; /* Initially hide the paragraphs */
    transition: opacity 0.5s ease; /* Add transition for opacity change */
  }
  
  /* Animation for paragraph under first image */
  .image-container:nth-child(1) p {
    animation: fadeIn 1s forwards; /* Apply fadeIn animation to the first paragraph */
  }
  
  /* Animation for paragraph under second image */
  .image-container:nth-child(2) p {
    animation: slideInLeft 1s forwards; /* Apply slideInLeft animation to the second paragraph */
  }
  
  /* Animation for paragraph under third image */
  .image-container:nth-child(3) p {
    animation: slideInRight 1s forwards; /* Apply slideInRight animation to the third paragraph */
  }
  
  /* Keyframes for fadeIn animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Keyframes for slideInLeft animation */
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Keyframes for slideInRight animation */
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  